@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'main main main x x x'
      'products products products products products products';
      grid-row-gap: 5px;
      grid-column-gap: 200px;
    background-color: #ffffff;
    padding: 230px;
  }
  
.logo {
    padding-right: 15pt;
    width: 80px;
    height: 60px;
    cursor: pointer;
}

li, a{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#header {
    display: flex;
    position: fixed;
    padding: 20px 5%;
    align-items: center;
}

.nav_link li{
    display: inline-block;
    padding: 10px 15px;
}

.nav_link li a:hover{
    color: rgb(0, 17, 87);
}

.mainpic {
    width: 700px;
    height: 700px;
}

#scroll{
    float: right;
    width: 700px;
    height: 700px;
    overflow: hidden;
}

.roll{
    width: 2100px;
    height: 700px;
    animation: move 15s infinite;
}

.picroll{
    list-style: none;
    float: left;
}

@keyframes move {
    0%{transform: translateX(0px);}
    25%{transform: translateX(0px);}
    50%{transform: translateX(-700px);}
    75%{transform: translateX(-1400px);}
    
}

.table1{
    margin: 0pt;
    border-collapse: separate;
    border-spacing: 0px 0px;
    text-align: center;
}

.item1 {
    
    grid-area: main; 
    text-align: center;
}
.item2 {
    grid-area: products; 
    text-align: center;
}


button{
    border: none; 
    outline: none; 
    width: 10rem; 
    height: 3rem; 
    border-radius: 5rem;
    background-color: black; 
    color: ghostwhite; 
    font-weight: bold; 
    cursor: pointer;
}

.skt{
    width: 400px;
    height: 40px;
}

.line{
    border: 0;
    border-top: 2px solid;
}

legend{
    text-align: center;
    padding: 0 10%;
    font-size: 23pt;
}

.producttext{
    line-height: 90%;
}

footer{
    background-color: #112c42;
    color: white;
    text-align: center;
    padding: 60px;
   }